/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 1, 2024, 12:45:29 PM
    Author     : ageks3
*/

p {
    color: red;
}
img {
    
}

body {
    background-image: url('../images/time_bg.jpg');
    
}